:root {
  --color-brand-light-1: #F9ECE7;
  --color-brand-light-2: #F7D8CB;
  --color-brand-light-3: #F4AE94;
  --color-brand-light-4: #EE8866;
  --color-brand-light-5: #E3704B;
  --color-brand-light-6: #D35B33;
  --color-brand-light-7: #C25124;
  --color-brand-light-8: #AE461C;
  --color-brand-light-9: #863311;
  --color-brand-light-10: #5D230B;
  --color-brand-light-11: #371407;
  --color-red-light-1: #FBEBEB;
  --color-red-light-2: #FAD6D6;
  --color-red-light-3: #F4ABAB;
  --color-red-light-4: #F09595;
  --color-red-light-5: #EC7E7E;
  --color-red-light-6: #E34948;
  --color-red-light-7: #D03B3B;
  --color-red-light-8: #B93535;
  --color-red-light-9: #8E2626;
  --color-red-light-10: #641919;
  --color-red-light-11: #3C0E0E;
  --color-orange-light-1: #F9ECE7;
  --color-orange-light-2: #F7D8CB;
  --color-orange-light-3: #F4AE94;
  --color-orange-light-4: #EE8866;
  --color-orange-light-5: #E3704B;
  --color-orange-light-6: #D35B33;
  --color-orange-light-7: #C25124;
  --color-orange-light-8: #AE461C;
  --color-orange-light-9: #863311;
  --color-orange-light-10: #5D230B;
  --color-orange-light-11: #371407;
  --color-yellow-light-1: #FFF8E4;
  --color-yellow-light-2: #FFF3D1;
  --color-yellow-light-3: #FFEAB0;
  --color-yellow-light-4: #FFDA85;
  --color-yellow-light-5: #FCC65B;
  --color-yellow-light-6: #F5A927;
  --color-yellow-light-7: #CF8517;
  --color-yellow-light-8: #A8640A;
  --color-yellow-light-9: #824A01;
  --color-yellow-light-10: #4D2B00;
  --color-yellow-light-11: #261700;
  --color-corn-yellow-light-1: #FBF9E6;
  --color-corn-yellow-light-2: #F3EEB4;
  --color-corn-yellow-light-3: #EFE89B;
  --color-corn-yellow-light-4: #EBE282;
  --color-corn-yellow-light-5: #E2D64F;
  --color-corn-yellow-light-6: #D6C504;
  --color-corn-yellow-light-7: #AB9E03;
  --color-corn-yellow-light-8: #807602;
  --color-corn-yellow-light-9: #564F02;
  --color-corn-yellow-light-10: #403B01;
  --color-corn-yellow-light-11: #403B01;
  --color-lemon-green-light-1: #F2FACA;
  --color-lemon-green-light-2: #E3EDB4;
  --color-lemon-green-light-3: #D2E593;
  --color-lemon-green-light-4: #AECF04;
  --color-lemon-green-light-5: #98B504;
  --color-lemon-green-light-6: #829B03;
  --color-lemon-green-light-7: #6C8102;
  --color-lemon-green-light-8: #617402;
  --color-lemon-green-light-9: #414E02;
  --color-lemon-green-light-10: #313A01;
  --color-lemon-green-light-11: #313A01;
  --color-leaf-green-light-1: #F0F9EC;
  --color-leaf-green-light-2: #D2EEC5;
  --color-leaf-green-light-3: #C3E9B1;
  --color-leaf-green-light-4: #B5E39E;
  --color-leaf-green-light-5: #97D877;
  --color-leaf-green-light-6: #6AC73C;
  --color-leaf-green-light-7: #559F30;
  --color-leaf-green-light-8: #407724;
  --color-leaf-green-light-9: #2A5018;
  --color-leaf-green-light-10: #203C12;
  --color-leaf-green-light-11: #203C12;
  --color-green-light-1: #E5F4E4;
  --color-green-light-2: #CAEAC7;
  --color-green-light-3: #91D68B;
  --color-green-light-4: #73CB6D;
  --color-green-light-5: #55BF50;
  --color-green-light-6: #0CA30C;
  --color-green-light-7: #009300;
  --color-green-light-8: #008300;
  --color-green-light-9: #006300;
  --color-green-light-10: #074506;
  --color-green-light-11: #11260F;
  --color-duck-green-light-1: #D6FFF6;
  --color-duck-green-light-2: #8AFFEC;
  --color-duck-green-light-3: #6DF5E1;
  --color-duck-green-light-4: #4FDBC8;
  --color-duck-green-light-5: #30C5B2;
  --color-duck-green-light-6: #10B7A5;
  --color-duck-green-light-7: #009D8D;
  --color-duck-green-light-8: #008376;
  --color-duck-green-light-9: #006B5F;
  --color-duck-green-light-10: #00534A;
  --color-duck-green-light-11: #003A33;
  --color-cyan-light-1: #E8F9FF;
  --color-cyan-light-2: #CAF1FC;
  --color-cyan-light-3: #A2EBFF;
  --color-cyan-light-4: #50DAF9;
  --color-cyan-light-5: #3BCCEA;
  --color-cyan-light-6: #00B0D4;
  --color-cyan-light-7: #009CB6;
  --color-cyan-light-8: #008399;
  --color-cyan-light-9: #00687A;
  --color-cyan-light-10: #00515F;
  --color-cyan-light-11: #003B46;
  --color-blue-light-1: #E7F1FB;
  --color-blue-light-2: #CDE2FB;
  --color-blue-light-3: #9EC5F4;
  --color-blue-light-4: #86B6EF;
  --color-blue-light-5: #6DA7EC;
  --color-blue-light-6: #3987E5;
  --color-blue-light-7: #2A78D6;
  --color-blue-light-8: #256ABF;
  --color-blue-light-9: #184F95;
  --color-blue-light-10: #0D366B;
  --color-blue-light-11: #032042;
  --color-indigo-light-1: #EDF3FF;
  --color-indigo-light-2: #D6E3FF;
  --color-indigo-light-3: #B3C8F5;
  --color-indigo-light-4: #8AA6ED;
  --color-indigo-light-5: #6C8DE0;
  --color-indigo-light-6: #4E74D4;
  --color-indigo-light-7: #3A61C2;
  --color-indigo-light-8: #2B4EA6;
  --color-indigo-light-9: #243F8A;
  --color-indigo-light-10: #162C69;
  --color-indigo-light-11: #122252;
  --color-purple-light-1: #EFEDFF;
  --color-purple-light-2: #DFDBFD;
  --color-purple-light-3: #BFB9F5;
  --color-purple-light-4: #B0A7F2;
  --color-purple-light-5: #A096EB;
  --color-purple-light-6: #8173E3;
  --color-purple-light-7: #7161E0;
  --color-purple-light-8: #6250D6;
  --color-purple-light-9: #4A3AA7;
  --color-purple-light-10: #322777;
  --color-purple-light-11: #1D1649;
  --color-magenta-light-1: #FAF0FE;
  --color-magenta-light-2: #F6DFFF;
  --color-magenta-light-3: #EEC5FF;
  --color-magenta-light-4: #E5A4FF;
  --color-magenta-light-5: #D97EFC;
  --color-magenta-light-6: #C847F2;
  --color-magenta-light-7: #AD2BD8;
  --color-magenta-light-8: #8A27AB;
  --color-magenta-light-9: #6C1B86;
  --color-magenta-light-10: #472355;
  --color-magenta-light-11: #33173E;
  --color-lilac-light-1: #FBECF9;
  --color-lilac-light-2: #F4C6EC;
  --color-lilac-light-3: #F0B3E6;
  --color-lilac-light-4: #ECA0E0;
  --color-lilac-light-5: #E47AD3;
  --color-lilac-light-6: #D941C0;
  --color-lilac-light-7: #AE349A;
  --color-lilac-light-8: #822773;
  --color-lilac-light-9: #571A4D;
  --color-lilac-light-10: #261547;
  --color-lilac-light-11: #261547;
  --color-pink-light-1: #FAEBF0;
  --color-pink-light-2: #F9D4E2;
  --color-pink-light-3: #F3A8C3;
  --color-pink-light-4: #ED93B4;
  --color-pink-light-5: #E87BA4;
  --color-pink-light-6: #D55181;
  --color-pink-light-7: #C04873;
  --color-pink-light-8: #AD3D66;
  --color-pink-light-9: #862A4C;
  --color-pink-light-10: #5E1C34;
  --color-pink-light-11: #390F1F;
  --color-blue-gray-light-1: #E8EFFA;
  --color-blue-gray-light-2: #DCE4F2;
  --color-blue-gray-light-3: #B4BDCF;
  --color-blue-gray-light-4: #8B9BB6;
  --color-blue-gray-light-5: #687EA1;
  --color-blue-gray-light-6: #516685;
  --color-blue-gray-light-7: #445774;
  --color-blue-gray-light-8: #384861;
  --color-blue-gray-light-9: #2C3B53;
  --color-blue-gray-light-10: #1F2E47;
  --color-blue-gray-light-11: #152237;
  --color-ai-color-1-light-1: #ECF4FF;
  --color-ai-color-1-light-2: #DDE9FF;
  --color-ai-color-1-light-3: #BFD1FF;
  --color-ai-color-1-light-4: #99B5FF;
  --color-ai-color-1-light-5: #5F8CFF;
  --color-ai-color-1-light-6: #2562FF;
  --color-ai-color-1-light-7: #0047FD;
  --color-ai-color-1-light-8: #003CD7;
  --color-ai-color-1-light-9: #0031B0;
  --color-ai-color-1-light-10: #00278A;
  --color-ai-color-1-light-11: #001C63;
  --color-ai-color-2-light-1: #FBF4FF;
  --color-ai-color-2-light-2: #ECE0FF;
  --color-ai-color-2-light-3: #DAC9FF;
  --color-ai-color-2-light-4: #BA9EFF;
  --color-ai-color-2-light-5: #AC8AFF;
  --color-ai-color-2-light-6: #8C5DF7;
  --color-ai-color-2-light-7: #7A49E4;
  --color-ai-color-2-light-8: #6834D2;
  --color-ai-color-2-light-9: #571BC1;
  --color-ai-color-2-light-10: #4600A7;
  --color-ai-color-2-light-11: #340081;
  --color-ai-color-3-light-1: #FBF4FF;
  --color-ai-color-3-light-2: #ECE0FF;
  --color-ai-color-3-light-3: #DAC9FF;
  --color-ai-color-3-light-4: #BA9EFF;
  --color-ai-color-3-light-5: #AC8AFF;
  --color-ai-color-3-light-6: #8C5DF7;
  --color-ai-color-3-light-7: #7A49E4;
  --color-ai-color-3-light-8: #6834D2;
  --color-ai-color-3-light-9: #571BC1;
  --color-ai-color-3-light-10: #4600A7;
  --color-ai-color-3-light-11: #340081;
  --color-ai-color-4-light-1: #E8F9FF;
  --color-ai-color-4-light-2: #CAF1FC;
  --color-ai-color-4-light-3: #A2EBFF;
  --color-ai-color-4-light-4: #50DAF9;
  --color-ai-color-4-light-5: #3BCCEA;
  --color-ai-color-4-light-6: #00B0D4;
  --color-ai-color-4-light-7: #009CB6;
  --color-ai-color-4-light-8: #008399;
  --color-ai-color-4-light-9: #00687A;
  --color-ai-color-4-light-10: #00515F;
  --color-ai-color-4-light-11: #003B46;
  --color-neutral-light-0: #FFFFFF;
  --color-neutral-light-1: #FCFCFB;
  --color-neutral-light-2: #F9F9F7;
  --color-neutral-light-3: #F0EFEC;
  --color-neutral-light-4: #E4E3DD;
  --color-neutral-light-5: #C3C2B7;
  --color-neutral-light-6: #A5A49A;
  --color-neutral-light-7: #898781;
  --color-neutral-light-8: #6D6B67;
  --color-neutral-light-9: #52514E;
  --color-neutral-light-10: #383835;
  --color-neutral-light-11: #20201F;
  --color-neutral-light-12: #0B0B0B;
  --color-black-alpha-light-1: #0B0B0B;
  --color-black-alpha-light-2: rgba(11, 11, 11, 0.95);
  --color-black-alpha-light-3: rgba(11, 11, 11, 0.85);
  --color-black-alpha-light-4: rgba(11, 11, 11, 0.7);
  --color-black-alpha-light-5: rgba(11, 11, 11, 0.6);
  --color-black-alpha-light-6: rgba(11, 11, 11, 0.5);
  --color-black-alpha-light-7: rgba(11, 11, 11, 0.4);
  --color-black-alpha-light-8: rgba(11, 11, 11, 0.35);
  --color-black-alpha-light-9: rgba(11, 11, 11, 0.3);
  --color-black-alpha-light-10: rgba(11, 11, 11, 0.2);
  --color-black-alpha-light-11: rgba(11, 11, 11, 0.1);
  --color-black-alpha-light-12: rgba(11, 11, 11, 0.05);
  --color-black-alpha-light-13: rgba(11, 11, 11, 0);
  --color-white-alpha-light-1: #FFFFFF;
  --color-white-alpha-light-2: rgba(255, 255, 255, 0.95);
  --color-white-alpha-light-3: rgba(255, 255, 255, 0.85);
  --color-white-alpha-light-4: rgba(255, 255, 255, 0.7);
  --color-white-alpha-light-5: rgba(255, 255, 255, 0.6);
  --color-white-alpha-light-6: rgba(255, 255, 255, 0.5);
  --color-white-alpha-light-7: rgba(255, 255, 255, 0.4);
  --color-white-alpha-light-8: rgba(255, 255, 255, 0.35);
  --color-white-alpha-light-9: rgba(255, 255, 255, 0.3);
  --color-white-alpha-light-10: rgba(255, 255, 255, 0.2);
  --color-white-alpha-light-11: rgba(255, 255, 255, 0.1);
  --color-white-alpha-light-12: rgba(255, 255, 255, 0.05);
  --color-shadow-alpha-1: rgba(11, 11, 11, 0.02);
  --color-shadow-alpha-2: rgba(11, 11, 11, 0.04);
  --color-shadow-alpha-3: rgba(11, 11, 11, 0.05);
  --color-shadow-alpha-4: rgba(11, 11, 11, 0.06);
  --color-shadow-alpha-5: rgba(11, 11, 11, 0.1);
  --color-spring-green-light-1: #E5F4E4;
  --color-spring-green-light-2: #CAEAC7;
  --color-spring-green-light-3: #91D68B;
  --color-spring-green-light-4: #73CB6D;
  --color-spring-green-light-5: #55BF50;
  --color-spring-green-light-6: #0CA30C;
  --color-spring-green-light-7: #009300;
  --color-spring-green-light-8: #008300;
  --color-spring-green-light-9: #006300;
  --color-spring-green-light-10: #074506;
  --color-spring-green-light-11: #11260F;
  --color-sea-green-light-1: #D6FFF6;
  --color-sea-green-light-2: #8AFFEC;
  --color-sea-green-light-3: #6DF5E1;
  --color-sea-green-light-4: #4FDBC8;
  --color-sea-green-light-5: #30C5B2;
  --color-sea-green-light-6: #10B7A5;
  --color-sea-green-light-7: #009D8D;
  --color-sea-green-light-8: #008376;
  --color-sea-green-light-9: #006B5F;
  --color-sea-green-light-10: #00534A;
  --color-sea-green-light-11: #003A33;
  --color-sky-blue-light-1: #E8F9FF;
  --color-sky-blue-light-2: #CAF1FC;
  --color-sky-blue-light-3: #A2EBFF;
  --color-sky-blue-light-4: #50DAF9;
  --color-sky-blue-light-5: #3BCCEA;
  --color-sky-blue-light-6: #00B0D4;
  --color-sky-blue-light-7: #009CB6;
  --color-sky-blue-light-8: #008399;
  --color-sky-blue-light-9: #00687A;
  --color-sky-blue-light-10: #00515F;
  --color-sky-blue-light-11: #003B46;
  --color-cornflower-blue-light-1: #EDF3FF;
  --color-cornflower-blue-light-2: #D6E3FF;
  --color-cornflower-blue-light-3: #B3C8F5;
  --color-cornflower-blue-light-4: #8AA6ED;
  --color-cornflower-blue-light-5: #6C8DE0;
  --color-cornflower-blue-light-6: #4E74D4;
  --color-cornflower-blue-light-7: #3A61C2;
  --color-cornflower-blue-light-8: #2B4EA6;
  --color-cornflower-blue-light-9: #243F8A;
  --color-cornflower-blue-light-10: #162C69;
  --color-cornflower-blue-light-11: #122252;
  --color-coral-red-light-1: #FBEBEB;
  --color-coral-red-light-2: #FAD6D6;
  --color-coral-red-light-3: #F4ABAB;
  --color-coral-red-light-4: #F09595;
  --color-coral-red-light-5: #EC7E7E;
  --color-coral-red-light-6: #E34948;
  --color-coral-red-light-7: #D03B3B;
  --color-coral-red-light-8: #B93535;
  --color-coral-red-light-9: #8E2626;
  --color-coral-red-light-10: #641919;
  --color-coral-red-light-11: #3C0E0E;
}
